@model User
@{
    ViewData["Title"] = "PostsByUser";
}

@if (Model.Username == null)
{

    <div class="error">
        <h2>Uh-oh! Looks like you're in the wrong place.</h2>
        <a asp-controller="User" asp-action="Index">
            <h2>Return?</h2>
        </a>
    </div>
}
else
{
    <h1 class="site_header">Posts by @Model.Username</h1>

    <p>@Model.Username</p>

    @foreach(var post in Model.PostsByUser)
        {
            <p>@post.Body</p>

        }
}